* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 30px;
    background: #f9fafb;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filters button {
    padding: 8px 14px;
    border: 1px solid #333;
    background: white;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s ease;
}

.filters button:hover {
    background: #333;
    color: white;
    transform: translateY(-3px);
}

#cardContainer {
    display: flex;
    gap: 15px;
}

.card {
    padding: 15px;
    border-radius: 10px;
    background: #e5e7eb;
    cursor: pointer;
    transition: 0.5s ease;
}

.card:hover {
    transform: translateY(-3px)
}

.card.done {
    background: lightskyblue;
    text-decoration: line-through;
    color: #065f9e;
}