body {
    margin: 0;
}

.layout {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    background: #222;
    color: white;
    padding: 20px;
    transition: 0.3s;
}

.sidebar ul {
    list-style: none;
    padding: 0px;
}

.sidebar.hide {
    width: 0;
    padding: 0;
    overflow: hidden;
}

.menu-item {
    transition: color 0.2s ease;
    margin-top: 15px;
    cursor: pointer;
}

.menu-item.active {
    color: lightskyblue;
    cursor: pointer;
}

.content {
    padding: 20px;
    flex: 1;
}

.content p {
    text-align: center;
    font-size: large;
}

.content ul {
    list-style: number;
    padding: 20px;
    font-size: large;
}

#toggleBtn {
    cursor: pointer;
    background: lightskyblue;
    font-size:small;
    color: white;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    transition: 0.3s ease;
    border: none;
}

#toggleBtn:hover {
    background: rgb(0, 151, 227);
}

.sidebar li:hover {
    color: lightgreen;
}