body {
    margin: 0;
}

.grid-layout {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
    "sidebar header"
    "sidebar content";
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    background: #222;
    color: white;
    padding: 20px;
}

.sidebar:hover {
    color: #035dbc;
}


.header {
    grid-area: header;
    background: #035dbc;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.content {
    grid-area: content;
    padding: 20px;
    background: #f4f4f4;
}

@media (max-width: 400px) {
    .grid-layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "header"
        "sidebar"
        "content";
    }
}
