* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f6fb;
    padding: 40px;
    margin: 0;
    color: #1f2937;
}

.container {
    max-width: 700px;
    margin: auto;
    background: #fff;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0,0,0,.06);
}

h1 {
    margin-bottom: 24px;
}

/* Input */
.input-group {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}

input {
    flex: 1;
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
}

input:focus {
    outline: none;
    border-color: #0a89de;
}

button {
    padding: 12px 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

/* Add Button */
#addBtn {
    background: #0a89de;
    color: white;
}

#addBtn:hover {
    background: #32abfc;
}

/* Filter */
.filter {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filter button {
    background: #e5e7eb;
    color: #000;
}

.filter button.active {
    background: #0a89de;
    color: white;
}

.filter button:hover {
    background: #32abfc;
    color: white;
}

/* Task */
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    margin-bottom: 10px;
    background: #fafafa;
}

.task.done span {
    text-decoration: line-through;
    color: #9ca3af;
}

/* Task Button */
.task button {
    background: #00b944;
    color: white;
    font-size: 13px;
}

.task.done button {
    background: #e00000;
}