* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    background: #222;
    color: white;
    padding: 20px;
    transition: 0.3s ease;
}

.sidebar.hide {
    width: 0;
    padding: 0;
    overflow: hidden;
}

.logo {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li:hover {
    color: #38bdf8;
    transition: 0.3s ease;
}

.menu-item {
    margin-bottom: 15px;
    cursor: pointer;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #f9fafb;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card h3 {
    font-size: 16px;
    color: #222;
    margin-bottom: 10px;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    color: #222;
}


.card:hover {
    transition: 0.5s ease;
    transform: translateY(-3px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    background: #38bdf8;
}

.content {
    flex: 1;
    padding: 20px;
}

#toggleBtn {
    display: none;
    margin-bottom: 20px;
    padding: 8px 12px;
    border: none;
    background: #38bdf8;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}


@media (max-width: 768px) {
    #toggleBtn {
        display: inline-block;
    }

    .sidebar {
        position: absolute;
        height: 100%;
        z-index: 10;
    }
}
