* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: white;
    padding: 15px 30px;
}

.logo {
    font-size: 14px;
    font-weight: bold;
}

.menu {
    padding: 0;
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: lightsteelblue;
    padding: 40px;
    min-height: 300px;
}

.box {
    width: 120px;
    height: 120px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease background, 0.3s ease;
}

.box:hover {
    transform: translateY(-5px);
    background: lightpink
}

@media (max-width: 300px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        flex-direction: column;
        margin-top: 10px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }
}

