.container {
    display: flex;
    background: lightskyblue;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.box {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100px;
    height: 100px;
    background: greenyellow;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    transition: all 0.5s ease;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 20px rgba(0,0,0,0.5);
    background: lightgreen;
}