* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.main-content {
    padding-top: 80px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    position: relative;
    width: 200px;
    height: 150px;
    background: lightblue;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 6px 14px;
    font-size: 12px;
    border-radius: 20px;
}

.badge.new {
    background: lightcoral;
}

.badge.sale {
    background: orange;
}
.badge.order {
    background: lightseagreen;
}

.card:hover {
    transform: translateY(-10px);
    background: lightslategray;
}

@media screen and (max-width: 400px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    
}
